<?xml version="1.0"?>
<robot name="rvc_common" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="chassis_config_file" default="$(find rvc_robot_description_common)/config/chassis_params.yaml"/>
  <xacro:property name="chassis_params" value="${xacro.load_yaml('$(arg chassis_config_file)')}"/>

  <!-- chassis geometric propreties -->
  <xacro:property name="chassis_geometric" value="${chassis_params['geometric']}"/>
  <xacro:property name="chassis_radius" value="${chassis_geometric['radius']}"/>
  <xacro:property name="chassis_height" value="${chassis_geometric['height']}"/>

  <xacro:include filename="$(find rvc_robot_description_common)/urdf/utils/materials.urdf.xacro"/>

  <xacro:include filename="$(find rvc_robot_description_common)/urdf/components/chassis.urdf.xacro"/>
  <xacro:include filename="$(find rvc_robot_description_common)/urdf/components/wheel.urdf.xacro"/>
  <xacro:include filename="$(find rvc_robot_description_common)/urdf/components/caster_wheel.urdf.xacro"/>

  <link name="base_link"/>

  <xacro:chassis
    prefix="chassis"
  >
    <origin xyz="0 0 ${chassis_height/2}" rpy="0 0 0"/>
  </xacro:chassis>

  <xacro:wheel
    prefix="left_wheel"
  >
    <origin xyz="0 ${chassis_radius} 0" rpy="0 0 0"/>
  </xacro:wheel>

  <xacro:wheel
    prefix="right_wheel"
  >
    <origin xyz="0 -${chassis_radius} 0" rpy="0 0 0"/>
  </xacro:wheel>

  <xacro:caster_wheel>
    <origin xyz="${chassis_radius} 0 0" rpy="0 0 0"/>
  </xacro:caster_wheel>

</robot>
